.custom-h {
  height: calc(100vh - 2rem);
}

.custom-grid-rows {
  grid-template-rows: minmax(0, 300px) minmax(0, 1fr);
}

.custom-h::-webkit-scrollbar {
  width: 0.75rem;
}

.custom-h::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.custom-h::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.500');
  /* outline: 1px solid white; */
}

.border-left-custom {
  border-left: 2px solid theme('colors.red.700');
}

@media(min-width: theme('screens.sm')) {
  .custom-h, .custom-sidebar-h {
    height: calc(100vh - 4rem);
  }
  .custom-grid-rows {
    grid-template-rows: minmax(0, 1fr);
  }
}
/* @media(min-width: theme('screens.md')) {
  .custom-h {
    height: calc(100vh - 4rem);
  }
} */
